/*General Rules*/
    *{
        box-sizing: border-box;
        font-family: 'calibri', 'segoe ui', sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    .menu{
        margin: 0;
    }
/*Navigation Bar*/
    nav{
        position: sticky;
        top: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: 
            #448
            linear-gradient(#c6d, #88c);
    }
    nav a{
        display: block;
        padding: .25rem .5rem;
        color: #eee;
        text-decoration: none;
    }
    .button{
        margin: .5rem;
        border: .1rem solid #eee;
        color: #eee;
        background-color: transparent;
    }
    .button:hover{
        color: #224;
        background-color: #eee;
    }
    .menu{
        display:none;
        width: 100%;
        padding: 0;
        list-style: none;
    }
    .menu a:hover{
        background-color: rgba(51,51,51,.5);
    }
    .menu.active{
        display:block;
    }
/* Heading */
    #header{
        display: grid;
        justify-content: center;
        align-content: center;
        height: 100vh;
        min-height: 200px;
        max-height: 600px;
        font-size: calc(2vw + 1rem);
        text-align: center;
        text-shadow: 0 0 .5rem #333;
        color: #eee;
        background-color: #224;
    }
/*Main Content*/
    main{
        color: #eee;
        background-color: #333;
    }
    main .list{
        color: #333;
    }
    main,
    section{
        max-width: 960px;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: .25rem;
        box-shadow: 0 0 .5rem #999;
    }
    section h2{
        border-bottom: .1rem solid #ccc;
    }
    .list{
        margin: 1rem;
        margin-left: 3vw;
        border-left: .25rem solid #448;
        padding: 1rem;
        list-style: none;
        line-height: 1.5rem;
        background-color: #eee;
    }
/* Footer */
    #footer{
        padding: 1rem;
        color: #eee;
        background: 
            #448
            linear-gradient(#c6d, #88c);
    }
    #footer table{
        margin: auto;
        border-collapse: collapse;
    }
    caption{
        margin-top: 1rem;
        border-radius: .25rem .25rem 0 0;
    }
    caption, th, td{
        padding: .2rem .5rem;
    }
    thead,
    table caption{
        color: #eee;
        background-color: #448;
    }
    tbody tr:nth-child(even){ background-color: #777;}
    tbody tr:nth-child(odd){ background-color: #999;}
/* Medium Devices - Tablets / Smartphone (landscape) */
@media screen and (min-width: 768px){
    .menu, 
    .menu.active{
        display: flex;
        width: auto;
    }
    nav .button{
        display: none;
    }
}
/* ExtraLarge Devices - HD Desktop / SmartTV*/
@media screen and (min-width: 1200px){
    nav{ 
        justify-content: space-around; 
    }
    .menu a{ position: relative }
    .menu a::before{
        content: '';
        position: absolute;
        width: .2rem;
        height: .2rem;
        bottom:0;
        left: 0;
        background-color: #eee;
        opacity: 0;
        transition: all .5s ease;
    }
    .menu a:hover::before{
        width: 100%;
        opacity: 1;
    }
}